html, body {
    margin: 0;
    height: 100%;
    font-family: 'Fredoka', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(135deg, #A0E7E5, #B4F8C8, #FBE7C6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.image-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 220px;
    max-width: 100%;
    justify-self: center;
}

.image-card:hover {
    transform: scale(1.05);
}

.image-card img {
    width: 220px;
    max-width: 100%;
    justify-self: center;
}

.caption {
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 150px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease-in-out;
    margin: 0;
    flex-grow: 1;
}

.highlight {
    color: #A0E7E5;
    font-weight: bold;
}

